$myGreenOne: rgba(4,242,174, 1);
$myGreenTwo: rgba(4,216,156, 1);
$myColorThree: rgba(216,181,4, 1);
$myColorFour: rgba(191,140,122, 1);
$myColorFive: rgba(89,1,1, 1);
$myblack: #2e2e2e;
$myWhite: #f5f5f5;